html {
  background-color: rgba(203, 216, 16, 0.784);
}

h1 {
  margin: 1.5rem;
}

.title {
  text-align: center;
}

.order {
  margin: 0%;
  padding: 0%;
  border: 0ch;
  width: 50%;
  display: inline-block;
  text-align: center;
}

.select {
  width: 50%;
  padding: 0%;
  display: inline-block;
  text-align: center;
}

.select1 {
  background-color: rgba(127, 210, 255, 0.67);
  border-radius: 250;
  border: 10;
}
